@media (min-width: 480px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $primarypadding;

    }


}
@media (min-width: 768px){
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}